@(user: securesocial.core.SocialUser,title: String, icon: String= "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@import securesocial.core.SocialUser
@navItem(url: String, icon: String, title:String) = {
@if(request.path==url) {
    <li class="active">
    } else {
    <li>
    }
    <a href="@url" title="@title">
        <span class="sidebar-text">
        @if(request.path==url){
            <i class="glyphicon glyphicon-@icon"></i>
            @title
        } else {
            <span class="visible-xs visible-lg">
                <i class="glyphicon glyphicon-@icon"></i>
                @title
            </span>

            <span class="hidden-xs hidden-lg">
                <i class="glyphicon glyphicon-@icon"></i>
            </span>
        }
        </span>
    </a>
</li>
}

@exchangeStyles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/jquery.pnotify.default.css")">

}

@exchangeScripts = {
    <script src="@routes.Assets.at("js/vendor/jquery.pnotify.js")"></script>
    <script src="@routes.Assets.at("js/vendor/jquery.qrcode-0.10.1.min.js")"></script>
    <script src="@routes.Assets.at("js/vendor/moment.min.js")"></script>


}

@_global_chrome(title, Html(scripts + exchangeScripts.body), Html(styles + exchangeStyles.body)) {
  <!-- <div class="wrapper"> -->
  <header class="main-header">
    <a href="#/" class="mobileButton">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </a><!--Mobile Menu Icon-->
    <a href="@routes.Application.exchange().url" class="logo">
        <img src="@routes.Assets.at("img/logo.png")" alt="Trynex" />
    </a>
    <nav class="navbar navbar-static-top">
      <div class="currencybutton" >

      </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <div class="userinfo">

                    <div class="user_avtar ">
                        <!-- <img class="Avatar" src="@routes.Assets.at("img/avtar.jpg")" alt="Avtar" title="Avtar" />
                        <div class="online"><i class="fa fa-circle"></i></div> -->
                    </div>
                    <div class="username_designation">
                        <h5>@user.first_name</h5>

                        <i class="fa fa-angle-down"></i>
                    </div>

                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.Application.kycProfile().url">view profile</a></li>
                <li><a href="@controllers.routes.PasswordChange.page().absoluteURL(true)">change password</a></li>
                <li><a href="@controllers.routes.LoginPage.logout().absoluteURL(true)">logout</a></li>
                
            </ul>
          </li>
        </ul>
      </div>
      <div class="currencydata">
     </div>
      <script id="pair-picker-template" type="text/x-handlebars-template">
        <a href="#/" id="currencyId" exchange-base="BTC" exchange-counter="INR"><img src="@routes.Assets.at("img/zee_currency_icon.png")" /><span id="t1">BTC/INR</span>  <img class="drop_arrow" src="@routes.Assets.at("img/drop_arrow.png")" /></a>
          <div class="currencydrop" id="currency_list">
            {{#each this}}
                <div {{#if @@index}}{{else}}  {{/if}} class="currecny_table_dropdown" exchange-base="{{base}}" exchange-counter="{{counter}}" last="{{last}}" percentage="{{percentage}}" volume="{{sum}}" color="{{color}}">
                  <!-- <h5>{{heading}}</h5> -->
                  <div class="table_format">
                    <table cellpadding="0" cellspacing="" border="0">
                      <tbody>
                        <tr>
                          <td>{{base}}/{{counter}}</td>
                          <td>{{last}}</td>
                          <td style="color:{{color}}">{{percentage}}% <i class="fa fa-caret-{{fafa}}" aria-hidden="true"></i></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              {{/each}}
       </div>
      </script>
       <script id="currency-data-template" type="text/x-handlebars-template">
         <ul>
            <li><div id="last"></div><span>Last Trade Price</span></li>
            <li><div class="percentage_price"><i class="fa fa-caret-up" aria-hidden="true"></i></div><span>24 hour Price</span></li>
            <li><div id="volume"></div><span>24 hour Volume</span></li>
         </ul>
      </script>
    </nav>
  </header>
  <aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <div class="hide_show" id="hideShowId">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <img src="@routes.Assets.at("img/hide_show.png")"></img>
        </a>
      </div>
      <li id="exchange">
        <a href="@routes.Application.exchange().url">
          <img src="@routes.Assets.at("img/home.png")"></img><div>Exchange</div>
        </a>
      </li>
      <!-- @routes.Application.dashboard().url -->
      <li id="dashboard">
        <a href="@routes.Application.dashboard().url">
          <img src="@routes.Assets.at("img/wallet-smal.png")"></img><div>TRADE WALLET</div>
        </a>
      </li>
      <li class="" id="history">
        <a href="@routes.Application.history().url">
          <img src="@routes.Assets.at("img/account.png")"></img><div>Account History</div>
        </a>
      </li>

    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
<div class="mobile_menu">
  <div class="mobile_inner_menu">
        <div class="navigationlist">
          <ul>
              <li>
                  <a href="@routes.Application.exchange().url">
                    <label><img src="@routes.Assets.at("img/home.png")" /></label>
                      <span>exchange</span>
                    </a>
                </li>
                <li>
                  <a href="@routes.Application.dashboard().url">
                    <label><img src="@routes.Assets.at("img/wallet-smal.png")" /></label>
                      <span>wallet</span>
                    </a>
                </li>
                <li>
                  <a href="@routes.Application.history().url">
                    <label><img src="@routes.Assets.at("img/exchange.png")" /></label>
                      <span>account history</span>
                    </a>
                </li>
                
                <li class="close_menu">
                  <a href="#/">
                    <label><img src="@routes.Assets.at("img/hide_show.png")" /></label>
                      <span>logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div><!--Mobile Menu Listing-->
    <div class="content-wrapper" role="main">
        @if(request.path != routes.Application.dashboard().url){
            <!-- <div class="row ticker-row">
                <div id="ticker" class="breadcrumb col-xs-12">
                </div>
            </div>
            <script id="tickers-template" type="text/x-handlebars-template">
                {{#each this}}
                <span>
                    <i class="glyphicon glyphicon-{{icon}}" style="color: {{color}};"></i> {{last}} {{base}}/{{counter}}
                </span>
                {{/each}}
            </script> -->
        }

        @content
    </div>
    <!-- </div> -->
}
