@(option:Option[securesocial.core.SocialUser])(implicit request:RequestHeader,message:Messages)
@import securesocial.core.UsernamePasswordProvider
@import securesocial.core.UsernamePasswordProvider
@import helper._

@scripts = {
    <script src="@routes.Assets.at("js/common_header.js")"></script>
}


@content._chrome("Terms Of Use",scripts=scripts,option=option) {
  <div class="content-wrapper">
    <div class="row">
        <section class="col-lg-12 connectedSortable privacy_policy">
          	<div class="how_it_works">
            	<h6>Disclaimer</h6>
                <div class="color_stip" style="background:#70b7d2;"></div>
                <div class="page_content">
                    <div class="col-lg-12">
                        <div class="support_content">
                            <p>TRYNEX does not provide financial advice in any form. No content, services, or products available on our Website or via any form of communication may be taken as financial advice or a financial recommendation. Please speak with your financial advisor for all matters related to purchases, trade or sale of Crypto Currencies or volatile goods and/or commodities. We do not recommend anything available on the Website as an investment. It is possible that you can lose some or all of the money you spend on any product available at TRYNEX due to price and/or value fluctuations.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>


      </div>

  </div>
  }
  @content.session_footer()
