@(loginForm: Form[(String,String)],errorMsg: Option[String] = None)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import securesocial.core.UsernamePasswordProvider
@import helper._

@scripts = {
    <script src="@routes.Assets.at("js/login.js")"></script>
}

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@auth._chrome(Messages("auth.login.title"), scripts) {

  <div class="col-lg-12 bDesign_Login-page">
        <div class="loginfields">
            <div class="formtitle">
                <div class="person_title col-lg-12">
                    <img class="person" src="@routes.Assets.at("img/person.jpg")" alt="Person" title="Person" />
                    <span class="Login">Login</span>
                    @errorMsg.map { msg =>
                        <div class="alert alert-danger">
                            @Messages(msg)
                        </div>
                    }

                    @request.flash.get("success").map { msg =>
                        <div class="alert alert-info">
                            @msg
                        </div>
                    }

                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger">
                            @msg
                        </div>
                    }
                </div>
                <div class="logintagline col-lg-12">
                    Enter your login details below to access
                </div>
                <span id="check_email" style="color:red"></span>
                <div class="startform">
                    <form action = "@routes.ProviderController.loginPost().url"
        autocomplete="off" method="POST">
                      @CSRF.formField
                        <ul>
                            <li class="passfield">
                            @helper.inputText(
                                loginForm("username"),
                                'required -> "field can't be empty",
                                'class -> "rectangle pass"
                            )
                            <span>username</span>
                            </li>
                            <li class="passfield">
                            @helper.inputPassword(
                                loginForm("password"),
                                'required -> "field can't be empty",
                                'class -> "rectangle pass"
                            )
                            <span>password</span>
                            </li>
                            <li class="loginbutton">

                            <input type="submit" name="login" value="Login">
                            <label>You don't have an account?
                            <a href="#/">Signup</a></label>

                            </li>
                            <label><a href="#" id="reset">Reset your password</a></label>
                            <li>

                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <div class="forget_password_bg"></div>
     <div class="forget_password_popup">
         <h3>Enter your Email for Reset Password</h3>
            <div class="formstart">
                    <ul>
                        <li><input type="email" name="email" id="forgot_email"placeholder="Please Enter Your Email" /></li>
                        <li><button type="submit" value="submit" id="forgot_submit" >Submit</button> </li>
                    </ul>
            </div>
            <div class="closepopupbutton"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
  </div>
   }
@content.footer()
