<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>KYC Submission</title>
<style>
	*{ margin:0px; padding:0px; box-sizing:border-box;}
	body{ margin:0px; padding:0px; box-sizing:border-box;}
</style>
</head>

<body>
	<div class="activateaccount wrapper">
    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
        	<thead>
            	<!-- <tr style="background:#009efd;">
                	<th style="padding:6px 0px;"><a href="#/"><img src="img/logo.png" /></a></th>
                </tr> -->
            </thead>
            <tbody style="padding:30px 20px; display:block; width:100%; box-sizing:border-box; border-left: 1px solid #009efd; border-right: 1px solid #2af598;">
            	
            	<tr>
                	<td style="color:#888; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding-top:15px;">Dear <span  style="color:#000;">$name</span></td>
                </tr>
                <tr>
                	<td style="color:#888; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding-top:15px;">Thank you for submitting your KYC details and documents. Your KYC will be verified soon. You will be notified once your account is ready for trading.</td>
                </tr>                
                <tr>
                	<td style="color:#888; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding-top:15px;">Happy Trading!</td>
                </tr>
                <tr>
                	<td style="color:#888; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding-top:15px;">Thanks!, <br><span>Team Trynex</span></td>
                </tr>
            </tbody>
            <thead>
            	<tr style="background:#009efd;">
                	<td style="color:#000; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:15px;"><strong style="color:#fff; font-weight:bold;">Disclaimer:</strong> The information in this email is confidential and Trynex owns all proprietary rights over its contents.</td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>