@(resetEmailForm:Form[controllers.Registration.PasswordResetInfo])(implicit request: RequestHeader, messages: Messages)
@import helper._
@import securesocial.core.UsernamePasswordProvider
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@auth._chrome( Messages("auth.password.title") ) {

    @request.flash.get("error").map { msg =>
    <div class="alert alert-danger">
        @Messages(msg)
    </div>
    }
    <div class="row">
    <center><h2 style="padding-bottom: 18px">Reset your password</h2></center></div>
    <div class="col-sm-4 col-sm-offset-4">
    <form action="@controllers.routes.Registration.handleStartResetPassword().absoluteURL(true)"
          autocomplete="off"
          method="POST"
    >
         
        @helper.inputText(
        resetEmailForm("email"),
        '_label -> Messages("auth.signup.reset"),
        'class -> "form-control"
        )



        <center><button type="submit" class="btn btn-primary">@Messages("auth.password.reset")</button></center>

    </form>
    </div>
    </div>
}
@content.footer()